[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-rest-auth = "*"
django = "*"
django-dotenv = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
